<div *ngIf="showFileCommands()">

    <button mat-button (click)="copy()">
        <mat-icon>file_copy</mat-icon>
        Copy
    </button>
    <button mat-button (click)="cut()">
        <mat-icon>content_cut</mat-icon>
        Cut
    </button>
    <button mat-button (click)="editName()">
        <mat-icon>edit</mat-icon>
        Rename
    </button>
    <button mat-button (click)="delete()">
        <mat-icon>delete</mat-icon> Delete
    </button>

    <button mat-button (click)="info()">
        <mat-icon fontSet="material-icons-outlined">info</mat-icon> Info
    </button>
    <button mat-button (click)="bookmark()">
        <mat-icon fontSet="material-icons-outlined">bookmark</mat-icon> Bookmark
    </button>
</div>

<div *ngIf="cutCopyPaste">
    <button mat-button (click)="cancelPaste()">
        <mat-icon>close</mat-icon>
        Cancel
    </button>
    <button mat-button (click)="paste()">
        <mat-icon>content_paste</mat-icon>
        Paste
    </button>
</div>