<div class="container">
  <div class="header">
    <mat-toolbar>
      <mat-toolbar-row>
        <app-menu></app-menu>
        <app-file-upload></app-file-upload>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <app-breadcrumb></app-breadcrumb>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="content">
    <app-table-navigator></app-table-navigator>
  </div>
  <div class="footer">
    <app-controls></app-controls>
  </div>
</div>


<!-- div *ngFor="let message of messages | async">
  {{message.message}}
</div-->