<div class="container">
  <div class="header">
    <mat-toolbar>
      <mat-toolbar-row>hello</mat-toolbar-row>
      <mat-toolbar-row>
        <mat-chip-list>
          <mat-chip
            class="example-box"
            cdkDrag
            *ngFor="let chip of pathChip"
            (click)="clickChip(chip)">
            {{chip.name}}
            <mat-icon>chevron_right</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="content">
    <app-table-navigator></app-table-navigator>
  </div>
  <div class="footer">
    <h2>footer</h2>
    <button mat-button>
      <mat-icon>edit</mat-icon>
      Rename
  </button>
  <button mat-button>
      <mat-icon>file_copy</mat-icon>
      Copy
  </button>
  <button mat-button>
      <mat-icon>content_cut</mat-icon>
      Cut
  </button>
  <button mat-button>
      <mat-icon>content_paste</mat-icon>
      Paste
  </button>
  <button mat-button (click)="delete()">
      <mat-icon>delete</mat-icon>Delete
  </button>
  </div>
</div>


<!-- div *ngFor="let message of messages | async">
  {{message.message}}
</div-->