<div class="container">
  <div>
    <div>Server URL: {{serverUrl}}</div>
    <button mat-raised-button color="primary" (click)="pwd()">pwd</button><br />
    <button mat-raised-button color="primary" (click)="cd()">cd</button>
    <mat-form-field appearance="fill">
      <mat-label>Path</mat-label>
      <input matInput placeholder="Ex. ./asdf/bbb" [(ngModel)]="cdPath">
    </mat-form-field>
    <br />
    <button mat-raised-button color="primary" (click)="downloadFile()">Download</button>
    <mat-form-field appearance="fill">
      <mat-label>File</mat-label>
      <input matInput placeholder="Ex. text.txt" [(ngModel)]="fileName">
    </mat-form-field>
    <br />
    <app-file-upload></app-file-upload>
    <br />
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="pwd()">Delete</button><br /><br />
    <button mat-raised-button color="primary" (click)="pwd()">Mkdir</button><br />
  </div>
</div>
<button mat-raised-button color="primary" (click)="list()">list</button><br />

<div>
  Remote directory: {{remoteDirectory}}
</div>

<app-table-navigator></app-table-navigator>

<!-- div *ngFor="let message of messages | async">
  {{message.message}}
</div-->